.button-styles {
  background-color: var(--primary-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  height: 30px;
  color: white;
  min-width: 60px;
  transition: background-color 0.3s ease;
}

.button-styles:hover {
  background-color: var(--dark-blue); /* New background color on hover */
}
